@model  IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-center text-dark">Customers</h1>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <td>
                Customers
            </td>
        </tr>
    </thead>

    <tbody>
       
    </tbody>
</table>
