@model  IEnumerable<Vidly.Models.Customer>

 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 


<h1 class="text-center text-dark">Customers</h1>
@Html.ActionLink("Add Cutomer", "New", "Customers", null, new { @class = "btn btn-lg btn-info" })
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <td>
                Customers
            </td>
            <td>
                MemberShip Type
            </td>
        </tr>
    </thead>

    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(customer.Name, "Edit", "Customers", new {Id=customer.id },null)
                </td>
                <td>
                    @customer.MemberShipType.MembershipType
                </td>
            </tr>
        }
    </tbody>
</table>
